# test
coverage/

# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/
*.js.map
*.d.ts
!src/**/*.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.chery/db

log/
.chery/logs/

/test/flows/**/*.db